body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  margin-bottom: 40px;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
}

.card__wrapper{
  display: flex;
  justify-content: space-around;
  /* gap: 20px; */
}

.container_d{
  margin: 100px 10%;
  display: flex;
  flex-direction: column;
  
}
